[Desktop Entry]
Name=RetroArch Session
Comment=Run RetroArch as a standalone Wayland session
Exec=retroarch
Type=Application
X-GDM-SessionType=wayland
  
